In [ ]:
# Write a function that, given an array of integers, determines if it is possible to split the array 
# into two groups where the sum of the numbers in each group is the same.
# For example:
# Input: [1, 5, 11, 5]
# Output: True (The array can be split into [1, 5, 5] and [11])
# Input: [1, 2, 3, 4, 5, 6]
# Output: True (The array can be split into [1, 4, 5] and [2, 3, 6])
# Input: [1, 2, 4]
# Output: False (The array cannot be split into two groups with equal sum)

In [16]:
from itertools import combinations


def split_into_two_list(items):
    total_sum = sum(items)
    half_sum = total_sum // 2
    n = len(items)
    if total_sum % 2 != 0:
        return False
    if half_sum in items:
        first_half = [half_sum]
        second_half = items.copy()
        second_half.remove(half_sum)
        print(first_half, second_half)
        return True
    elif any(map(lambda x: x > half_sum, items)):
        # print("any(map(lambda x: x > half_sum, items))")
        return False
    else:
        cnt = 0
        for i in range(2, n//2+1):
            for j in combinations(items, i):
                if sum(j) == half_sum:
                    print("found", cnt, j)
                    return True 
                cnt+=1
                # print(j)

# split_into_two_list(items=[1, 5, 11, 5]) # True
# split_into_two_list(items=[2,4,8])
# split_into_two_list(items=[1, 2, 3, 4, 5, 5])
# split_into_two_list(items=[1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,14])
split_into_two_list(items=[1,1,1,1,1,1,1,1,1,1,1,1,1,1])

found 6461 (1, 1, 1, 1, 1, 1, 1)

True

In [6]:
import re

regex = r"([a-z]+)\1+"

test_str = "abcabcabcdd"

# max(re.findall(regex, test_str), key=lambda x: len(x))
x = re.match(regex, test_str)
x.start()

AttributeError: 'NoneType' object has no attribute 'start'

In [ ]:
  # 1 2  3  4  5  6  7  8
0 # 1 2  5  3  7  8  6  4
1 # 1 2  3  5  7  8  6  4
3 # 1 2  3  5  7  6  4  8
5 # 1 2  3  5  6  4  7  8
6 # 1 2  3  5  4  6  7  8
7 # 1 2  3  4  5  6  7  8

In [ ]:
  # 1 2  3  4  5  6  7  8
0 # 1 2  5  3  7  8  6  4
2 # 1 2  3  5  7  8  4  6
6 # 1 2  3  5  4  6  7  8
7 # 1 2  3  4  5  6  7  8

In [1]:
x = [1,2,3,4,5]

# 1 2  3  4  5  6  7  8
# 1 2  5  3  7  8  6  4
# 0 0 -2  1 -2 -2  1  4
 


# 1 2  5  3  7  8  6  4
# 1 2  5  3  4  6  7  8

In [3]:
x[0:1]

[1]

In [ ]:
#  1  2  3  4  5
#  2  1  5  3  4
# -1  1 -2  1  1

In [ ]:
0# 1  2  3  4  5  6  7  8
2# 1  2  5  3  4  6  7  8
5# 1  2  5  3  6  7  8  4
7# 1  2  5  3  7  8  6  4

In [ ]:
[1, 2, 3, 4, 5, 6, 7]

In [24]:
def sort_sorted_list(left_items, right_items, cnt=0):
    left_index, right_index = 0, 0
    merged_items = []
    while len(merged_items) < len(left_items) + len(right_items):
        left_item = left_items[left_index] if left_index < len(left_items) else float('inf')
        right_item = right_items[right_index] if right_index < len(right_items) else float('inf')
        print(cnt, left_item, right_item, left_items, right_items)
        if left_item < right_item:
            merged_items.append(left_item)
            left_index+=1
        else:
            merged_items.append(right_item)
            right_index+=1
            cnt+=1
    return cnt, merged_items
    
def merge_sort(items, cnt=0):
    n = len(items)
    if n <= 1:
        return cnt, items
    midpoint = n //2
    cnt, left_items = merge_sort(items[:midpoint], cnt)
    cnt, right_items = merge_sort(items[midpoint:], cnt)
    return sort_sorted_list(left_items, right_items, cnt)


merge_sort(items=[2, 5, 1, 3, 4], cnt=0)

0 2 5 [2] [5]
0 inf 5 [2] [5]
1 3 4 [3] [4]
1 inf 4 [3] [4]
2 1 3 [1] [3, 4]
2 inf 3 [1] [3, 4]
3 inf 4 [1] [3, 4]
4 2 1 [2, 5] [1, 3, 4]
5 2 3 [2, 5] [1, 3, 4]
5 5 3 [2, 5] [1, 3, 4]
6 5 4 [2, 5] [1, 3, 4]
7 5 inf [2, 5] [1, 3, 4]

(7, [1, 2, 3, 4, 5])

In [9]:
import re


cases = [r"_455894903590720027BFYblVbWxrlDISuncMjQXwwwQ_",r"_403102979630foXoFscfY",r"_DevgMmdgyqsClabHIM",r"_1933375787795592062143nKP_",r".62999857894572902222QLhbFyoGlEHjtToRlqdoBg",r"_74487389998547334020720519732ArklyyAyRzarkupBjfZpd",r".68490303220611167726243jsqeges.",r"_54iGQashrPJouJ.",r"9831266916591720586p",r".89981716695784435049535ZOOghUoQFDGNqsMxJh_",r"_ss",r"_vuyAEm",r"yWWSxHjWqDWFUULwCabwXYLSqZD",r".100vYwHiKImHxsWZZbjeymguUx.",r"_.",r"_",r"_9278576752708382168FlaXgxthUE",r".QgOsjnjaPWDpKCLfaIyW.",r"_ss",r"34831",r"_",r"_28451705775585127584506IKZYzuDnqGyAkudpQRgHJ.",r".25910726778228413227133875783",r"_48949ACIDDnroDQMdVWFdotjxWy",r"_7571890fWInzPNhzGjJravbnWmNQMfpJjEw",r"QdjMWBDoEdc",r".98135002639023664026521ZGHtfDzlEqfdjfaESf",r".vGVz.",r".",r"WBAuPSEfmf_",r"3503XOcPCIiaCLBslzKBwlz.",r".396067199pxff.",r".nztRavTmuBb",r"_ss",r"_23538480506FAkSihPqCeYLtqnAwSENGCfjd_",r".15203098FtioL",r".7AWYDLCD",r"_961708489716310LzzOXjWLwX",r"_ss",r"_50008056812337650YeAeWMavsiMmGSLPYhiIDP",r"_212127259211541029147797431",r".9321797915302859960590wCUvBH_",r".467230.",r".",r".A",r".986783650507877936701293168744HbHTFUwpsXdSnVtahkLoOXORANt",r"_318438548600492958HujzdwFgR",r"562xdpQgrKAkohHkFhJRgYZDCG",r"_4154DQrKSvAGJrHNaIOAHQIY",r".021326707736440754874223991205MmeMBoMxRbCH_",r".785485797704635644971954615QzD_",r".525844925197600unqmnuYP",r"..",r"30257hzqZJYWTW",r".83794139589904428687504ccuDnHrHQfmkmlrMRWQ.",r"_05868107434702192925",r".23280871740772002884007553GNZShGTYyTnhasheUfrB",r".LZMUJgCBJSvajCZjMzWWvXLbezmvF",r"_69691694171477158969232646_",r"_299kMsIzhwHjvYMOUskpoZMRsMhwB",r".922078910059gRNVPyZkyIgaXHgn_",r"_ss",r"668555071986303360843JjiPFaaycyoCJVjCSMwwYcyML.",r"_29gnqXSoEyoiHESBNAfKNzDwx_",r".00876071412168sGZNJhjpsEnSHSqFk.",r"_9060169498590134228505qW.",r"_4320437",r"_",r"IEJMFRxZLiqDQAfFyqF",r"nDyzeHEiaVURjpGgiiwY",r".40906689811390009mfCxDWmG.",r"_350783797424454059875_",r".40861uGbbqeMoNHeszdlNliJpHobu",r"_iQxzPEmGIZkAwbuQBYJDeFsFoK.",r"_TbzGyrXoljSsdlGwuhNYMttss",r".588500144xpRJFfaMgvHfDMJWrEEJWaterDYG",r"_590590ZvUkaKvktoPsoKeJZHSHJlcE",r".9377483673369777919635276697yLpz",r"_CVXDrycqHNCzHobDU",r".94.",r".04719362268177448977WgTYIeBgCMMZyKa",r"_2592064978723151103442573FdcilEvCqua.",r"_ss",r".hcaoxRwgiuHLt",r"_4320147340118583063uLHriNIpfvSbefpAMhtAKBGCWj",r".",r".2849158197qZsppYeOoAaMAh."]
expected_output = ["VALID","VALID","INVALID","VALID","VALID","VALID","INVALID","INVALID","INVALID","VALID","INVALID","INVALID","INVALID","INVALID","INVALID","INVALID","VALID","INVALID","INVALID","INVALID","INVALID","INVALID","VALID","VALID","VALID","INVALID","VALID","INVALID","INVALID","INVALID","INVALID","INVALID","INVALID","INVALID","VALID","VALID","VALID","VALID","INVALID","VALID","VALID","VALID","INVALID","INVALID","INVALID","VALID","VALID","INVALID","VALID","VALID","VALID","VALID","INVALID","INVALID","INVALID","VALID","VALID","INVALID","VALID","VALID","VALID","INVALID","INVALID","VALID","INVALID","INVALID","VALID","INVALID","INVALID","INVALID","INVALID","VALID","VALID","INVALID","INVALID","VALID","VALID","VALID","INVALID","INVALID","VALID","INVALID","INVALID","INVALID","VALID","INVALID","INVALID"]

for s, e in zip(cases, expected_output):
    m = re.match(r"^[_.]\d+[a-zA-Z]*_?$", s)
    if m:
        if e != "VALID":
            print(s, e)
    else:
        if e != "INVALID":
            print(s, e)

In [12]:
170+168+181+160+118+170+134+100+131+215

1547

In [14]:
199*12

2388

In [15]:
2300-1547

753

In [17]:
len("x4202v2A22A9a6aaaaaa2G2222m222qwertyYuIo13957")

45

In [2]:
x = [1, 3, 6, 4, 1, 2]
x.sort()

In [3]:
x

[1, 1, 2, 3, 4, 6]

In [ ]:
# [1, 3, 6, 4, 1, 2] -> 5
# [1, 2, 3] -> 4
# [-1, -3] -> 1

# A can have 100,000 values
# each value can range from -1,000,000 to 1,000,000
# find least value that doesn't exist in the list

def solution(A):
    A.sort()
    p = A[0]
    l = A[-1]
    if p > 1:
        return 1
    if l <= 0 :
        return 1
    for c in A:
        if c - p > 1:
            return  p+1
    return c+1

In [10]:
# listen
# silent
from collections import Counter


def is_anagram(s1, s2):
    if isinstance(s1, str) or isinstance(s2, str):
        if Counter(s1) == Counter(s2):
            return True
    return False

s1 = "listenl"
s2 = "listenl"
print(is_anagram(s1="listen", s2="silent"))
print(is_anagram(s1=list(), s2="listen"))
print(is_anagram(s1="arun", s2="aarun"))

True
False
False

In [ ]:
l1 = [1,2,3,4,5,6]
l2 = [6,2,3,4,5,1]

In [13]:
items = [1,2,3,4,5,6,4,2,1]

n = len(items)
p = items[0]
for i in range(1, n-1):
    c = items[i]
    n = items[i+1]
    if p < c and c > n:
        print(i)
    p = c

5

In [16]:
s1 = "3a2bc" # "aaabbc"

o = ""

for i, e in enumerate(s1):
    if e.isdigit():
        o += (int(e)-1) * s1[i+1]
    else:
        o+=e
o

'aaabbc'

In [22]:
from datetime import date, timedelta


def date_range(end_date:date, start_date:date=None):
    if not start_date:
        start_date = date.today()
    if end_date < start_date:
        yield start_date
    n_days =  end_date - start_date 
    # stop_date = end_date - timedelta(days=1)
    while start_date < end_date:
        yield start_date
        start_date+=timedelta(days=1)

In [23]:
for i in date_range(end_date=date(2024,2,17)):
    print(i)

2024-02-15
2024-02-16

In [ ]:
from datetime import date

In [19]:
from datetime import date, timedelta
x = date(2024,2,17) - date(2024,2,15)
x.days

2

In [30]:
x = [
    ('f1', 'start', 0),
    ('f2', 'start', 1),
    # f3 2
    # f3 3
    ('f2', 'end', 4),
    ('f1', 'end', 5),
    ('f4', 'start', 6),
    ('f4', 'end', 8),
    ]

y = []
pr = 0
for t in x:
    if t[1] == 'start':
        y.append(t)
    if t[1] == 'end':
        t1 = y.pop()
        # s+=cr
        cr = t[2] - t1[2] - pr
        print(t[0], cr)
        pr += cr
    if not y:
        pr = 0

f2 3
f1 2
f4 2

In [12]:
import re

re.findall(r'([a-z])[a-z]*\1', 'codility')

['i']

In [ ]:
re.findall(r'([a-z])[a-z]*\1', 'codility')

In [13]:
re.findall(r'([a-z])[a-z]*\1', 'codi lity')

[]

In [23]:
%%time
x = [0]*100000

CPU times: total: 0 ns
Wall time: 999 Âµs

In [21]:
%%time
x = [0 for _ in range(100000)]

CPU times: total: 0 ns
Wall time: 6 ms

In [42]:
x.index(0, 3)

3

In [ ]:
# you can write to stdout for debugging purposes, e.g.
# print("this is a debug message")


class Allocator:
    def __init__(self, N: int):
        # Implement your solution here
        self._data = [0] * N
        self._available_space = N

    def alloc(self, size: int) -> int:
        # Implement your solution here
        # print("alloc", size, self._data)
        if size > self._available_space:
            return -1
        available_address = self._data.index(0)
        while available_address % size != 0:
            available_address += (size - (available_address % size))  
        # while available_address % 8
        for i in range(size):
            self._data[available_address+i]=size
        self._available_space -= size
        return available_address

    def free(self, address: int) -> None:
        # Implement your solution here
        # print("free", address, self._data)
        size = self._data[address]
        for i in range(size):
            self._data[address+i]=0 
        self._available_space += size

In [36]:
len(bin(100))-2

7

In [ ]:
# (8, 'AAFAAFA', [8, 1, -1, 1, 4, -1, 4], [1, 2, 1, 3, 4, 3, 5])
# (16, 'AAAFAAFFFA', [4, 8, 4, -1, 1, 1, -1, -1, -1, 8], [10, 100, 20, 10, 1, 2, 20, 2, 1, 200])

In [40]:
4 - 1

3

In [21]:
x = 2
isinstance(x, (float, int))

True

In [ ]:
"""
stock_symbol type last_dividend par_value
TEA Common 0 100
POP Common 8 100
ALE Common 23 60
GIN Preferred 8 100
JOE Common 13 250
"""

In [26]:
import pandas as pd

df = pd.read_clipboard()

In [29]:
df.loc[df["type"] == "Preferred", "fixed_dividend"] = 2

In [31]:
df.to_dict("records")

[{'stock_symbol': 'TEA',
  'type': 'Common',
  'last_dividend': 0,
  'par_value': 100,
  'fixed_dividend': nan},
 {'stock_symbol': 'POP',
  'type': 'Common',
  'last_dividend': 8,
  'par_value': 100,
  'fixed_dividend': nan},
 {'stock_symbol': 'ALE',
  'type': 'Common',
  'last_dividend': 23,
  'par_value': 60,
  'fixed_dividend': nan},
 {'stock_symbol': 'GIN',
  'type': 'Preferred',
  'last_dividend': 8,
  'par_value': 100,
  'fixed_dividend': 2.0},
 {'stock_symbol': 'JOE',
  'type': 'Common',
  'last_dividend': 13,
  'par_value': 250,
  'fixed_dividend': nan}]

In [32]:
pd.DataFrame(
[{'stock_symbol': 'TEA',
  'type': 'Common',
  'last_dividend': 0,
  'par_value': 100},
 {'stock_symbol': 'POP',
  'type': 'Common',
  'last_dividend': 8,
  'par_value': 100},
 {'stock_symbol': 'ALE',
  'type': 'Common',
  'last_dividend': 23,
  'par_value': 60},
 {'stock_symbol': 'GIN',
  'type': 'Preferred',
  'last_dividend': 8,
  'par_value': 100,
  'fixed_dividend': 2.0},
 {'stock_symbol': 'JOE',
  'type': 'Common',
  'last_dividend': 13,
  'par_value': 250}]
  )

  stock_symbol       type  last_dividend  par_value  fixed_dividend
0          TEA     Common              0        100             NaN
1          POP     Common              8        100             NaN
2          ALE     Common             23         60             NaN
3          GIN  Preferred              8        100             2.0
4          JOE     Common             13        250             NaN

In [42]:
(df["last_dividend"] * df["par_value"]).sum()

6230

In [46]:
df.append(pd.DataFrame([ {'stock_symbol': 'GIN',
  'type': 'Preferred',
  'last_dividend': 8,
  'par_value': 100,
  'fixed_dividend': 2.0}]))

C:\Users\arunk\AppData\Local\Temp\ipykernel_9240\4069383803.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(pd.DataFrame([ {'stock_symbol': 'GIN',

  stock_symbol       type  last_dividend  par_value  fixed_dividend
0          TEA     Common              0        100             NaN
1          POP     Common              8        100             NaN
2          ALE     Common             23         60             NaN
3          GIN  Preferred              8        100             2.0
4          JOE     Common             13        250             NaN
0          GIN  Preferred              8        100             2.0

In [51]:
x = pd.DataFrame([ {'stock_symbol': 'GIN',
  'type': 'Preferred',
  'last_dividend': 8,
  'par_value': 100,
  'fixed_dividend': 2.0}])
x

  stock_symbol       type  last_dividend  par_value  fixed_dividend
0          GIN  Preferred              8        100             2.0

In [59]:
df.loc[5] = pd.Series({'stock_symbol': 'GIN',
  'type': 'Preferred',
  'last_dividend': 8,
  'par_value': 100,
  'fixed_dividend': 2.0})

In [ ]:
import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry

def requests_retry_session(
    retries=3,
    backoff_factor=0.3,
    status_forcelist=(500, 502, 504),
    session=None,
):
    session = session or requests.Session()
    retry = Retry(
        total=retries,
        read=retries,
        connect=retries,
        backoff_factor=backoff_factor,
        status_forcelist=status_forcelist,
    )
    adapter = HTTPAdapter(max_retries=retry)
    session.mount('http://', adapter)
    session.mount('https://', adapter)
    return session

response = requests_retry_session().get('http://httpbin.org/some_api')