In [11]:
l = [1,5,10,5,2,10]

In [2]:
l[::-1]

[10, 2, 5, 10, 5, 1]

In [6]:
x = l.copy()
x.reverse()
x

[10, 2, 5, 10, 5, 1]

In [4]:
l

[1, 5, 10, 5, 2, 10]

In [ ]:
[1,2,5,5,10,10]

In [7]:
def dup(l):
    l.sort()
    is_duplicate = False
    dup_val = set()
    if not l:
        return is_duplicate, dup_val
    p = l[0]
    for i in l[1:]:
        if p == i:
            dup_val.add(i)
        p = i
    if dup_val:
        is_duplicate = True 
    return is_duplicate, dup_val

In [8]:
print(dup(l))
print(dup([]))
print(dup([1,2,3,4,5]))

(True, {10, 5})
(False, set())
(False, set())

In [13]:
l

[1, 5, 10, 5, 2, 10]

In [12]:
r = []
for i in l:
    r.insert(0, i)
r

[10, 2, 5, 10, 5, 1]

In [18]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [12]:
class Person:

    def __init__(self, name, weight):
        self.__name = name
        self.__weight = weight

    def introduction(self):
        return f"my name is {self.__name}"

In [13]:
p = Person("Arun", 100)

In [20]:
p.introduction()

'my name is run'

In [22]:
class Student:
   def __init__(obj, fname, lname, age, section):
       obj.firstname = fname
       obj.lastname = lname
       obj.age = age
       obj.section = section
# creating a new object
stu1 = Student("Sara", "Ansh", 22, "A2")

In [14]:
import pandas as pd
 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
 
data = pd.DataFrame({'benef_id': ["CD3FEA","107980","000978","5CEC7E","0009A2"],
                    'code_1': ["2768","49121","V1006","78951","V4582"],
                    'code_2': ["53240","","78052","7102","71590"],
                    'code_3': ["","2768","2720","53081","25000"],
                    'code_4': ["25080","78550","2875","",""],
                    'code_5': ["0389","51884","78552","","4019"]})
 
data['out'] = data[data.columns[1:]].apply(lambda x: '|'.join(x), axis = 1)
# for field in data.columns[1:]:
#     data['out'] += data[field] + "|"
print(data)
# 2768|53240|25080|0389
# 49121|2768|78550|51884


# age of the yougest child = x
# x + x+3 +x +6+x +9 + x+12  = 50
# 5x + 30 = 50
# x = 4

  benef_id code_1 code_2 code_3 code_4 code_5                          out
0   CD3FEA   2768  53240         25080   0389       2768|53240||25080|0389
1   107980  49121          2768  78550  51884      49121||2768|78550|51884
2   000978  V1006  78052   2720   2875  78552  V1006|78052|2720|2875|78552
3   5CEC7E  78951   7102  53081                         78951|7102|53081||
4   0009A2  V4582  71590  25000          4019      V4582|71590|25000||4019

In [2]:
l.remove("")

In [6]:
import time

start_time = time.time()

total = 0
for i in range(1, 10000):
    for j in range(1, 10000):
        total += i + j

print(f"The result is {total}")

end_time = time.time()
print(f"It took {end_time-start_time:.2f} seconds to compute")

The result is 999800010000
It took 25.42 seconds to compute

In [15]:
a = 3

def s():
    # global a
    b = 2
    return a + b

s()

5

In [24]:
# data = [1,2,4,0,-8,-1]
# print(data[-1:-3])

# a = [1,2,3]
# b = [4,5,6]
# print(a | b)
# print(set(a) | set(b))

# a = (x*x for x in range(10))
# print(a)

# a = 10

# def func1():
#     return a

# def funct2():
#     a = a + 10
#     return a

# print(func1())
# print(funct2())

# data = [10,-1,-3,2,1,0]
# sq = list(map(lambda a : a<0, data))
# print(sq)

# data = ["aaaabbccaz"]
# #output = "5a2b2c1z"

# data = ["10110","12890","1001","11"]
# #output [True, False, True, True]

[False, True, True, False, False, False]

In [4]:
x = [1, 2, 3, 4]
x.reverse()
o = []

for i in x:
    o.insert(0, i)

o

[4, 3, 2, 1]

In [25]:
x = ["""{{}}{}""", """{{}}}""", """}{""", """{{{{}}}}}{"""]
a = "{"
b = "}"
c = 0
output = []
for i in x:
    o = True
    for j in i:
        if c < 0:
            break
        if j == a:
            c+=1
        if j == b:
            c-=1
    if c != 0:
        o = False
    output.append(o)

output

[True, False, False, False]

In [33]:
s="kkdbiizihzajdzijhkkzbjkkkdizhhjjz"
o = {}
for i in s:
    if i not in o:
        o[i] = 0
    o[i]+=1
    
print(o)
x = [""] * max(o.values())

for k, v in o.items():
    x[v-1]+=k

''.join(x)
# print(x)
# y = list(x.keys())
# y.sort()
# print(y)
# z = ""
# for j in y:
#     z+=x[j]

# z

{'k': 7, 'd': 3, 'b': 2, 'i': 5, 'z': 6, 'h': 4, 'a': 1, 'j': 5}

'abdhijzk'

In [36]:
from collections import Counter

y = Counter(s)

In [38]:
y.most_common(3)

[('k', 7), ('z', 6), ('i', 5)]

In [35]:
help(Counter)

Help on class Counter in module collections:

class Counter(builtins.dict)
 |  Counter(iterable=None, /, **kwds)
 |
 |  Dict subclass for counting hashable items.  Sometimes called a bag
 |  or multiset.  Elements are stored as dictionary keys and their counts
 |  are stored as dictionary values.
 |
 |  >>> c = Counter('abcdeabcdabcaba')  # count elements from a string
 |
 |  >>> c.most_common(3)                # three most common elements
 |  [('a', 5), ('b', 4), ('c', 3)]
 |  >>> sorted(c)                       # list all unique elements
 |  ['a', 'b', 'c', 'd', 'e']
 |  >>> ''.join(sorted(c.elements()))   # list elements with repetitions
 |  'aaaaabbbbcccdde'
 |  >>> sum(c.values())                 # total of all counts
 |  15
 |
 |  >>> c['a']                          # count of letter 'a'
 |  5
 |  >>> for elem in 'shazam':           # update counts from an iterable
 |  ...     c[elem] += 1                # by adding 1 to each element's count
 |  >>> c['a']                          # now there are seven 'a'
 |  7
 |  >>> del c['b']                      # remove all 'b'
 |  >>> c['b']                          # now there are zero 'b'
 |  0
 |
 |  >>> d = Counter('simsalabim')       # make another counter
 |  >>> c.update(d)                     # add in the second counter
 |  >>> c['a']                          # now there are nine 'a'
 |  9
 |
 |  >>> c.clear()                       # empty the counter
 |  >>> c
 |  Counter()
 |
 |  Note:  If a count is set to zero or reduced to zero, it will remain
 |  in the counter until the entry is deleted or the counter is cleared:
 |
 |  >>> c = Counter('aaabbc')
 |  >>> c['b'] -= 2                     # reduce the count of 'b' by two
 |  >>> c.most_common()                 # 'b' is still in, but its count is zero
 |  [('a', 3), ('c', 1), ('b', 0)]
 |
 |  Method resolution order:
 |      Counter
 |      builtins.dict
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other)
 |      Add counts from two counters.
 |
 |      >>> Counter('abbb') + Counter('bcc')
 |      Counter({'b': 4, 'c': 2, 'a': 1})
 |
 |  __and__(self, other)
 |      Intersection is the minimum of corresponding counts.
 |
 |      >>> Counter('abbb') & Counter('bcc')
 |      Counter({'b': 1})
 |
 |  __delitem__(self, elem)
 |      Like dict.__delitem__() but does not raise KeyError for missing values.
 |
 |  __eq__(self, other)
 |      True if all counts agree. Missing counts are treated as zero.
 |
 |  __ge__(self, other)
 |      True if all counts in self are a superset of those in other.
 |
 |  __gt__(self, other)
 |      True if all counts in self are a proper superset of those in other.
 |
 |  __iadd__(self, other)
 |      Inplace add from another counter, keeping only positive counts.
 |
 |      >>> c = Counter('abbb')
 |      >>> c += Counter('bcc')
 |      >>> c
 |      Counter({'b': 4, 'c': 2, 'a': 1})
 |
 |  __iand__(self, other)
 |      Inplace intersection is the minimum of corresponding counts.
 |
 |      >>> c = Counter('abbb')
 |      >>> c &= Counter('bcc')
 |      >>> c
 |      Counter({'b': 1})
 |
 |  __init__(self, iterable=None, /, **kwds)
 |      Create a new, empty Counter object.  And if given, count elements
 |      from an input iterable.  Or, initialize the count from another mapping
 |      of elements to their counts.
 |
 |      >>> c = Counter()                           # a new, empty counter
 |      >>> c = Counter('gallahad')                 # a new counter from an iterable
 |      >>> c = Counter({'a': 4, 'b': 2})           # a new counter from a mapping
 |      >>> c = Counter(a=4, b=2)                   # a new counter from keyword args
 |
 |  __ior__(self, other)
 |      Inplace union is the maximum of value from either counter.
 |
 |      >>> c = Counter('abbb')
 |      >>> c |= Counter('bcc')
 |      >>> c
 |      Counter({'b': 3, 'c': 2, 'a': 1})
 |
 |  __isub__(self, other)
 |      Inplace subtract counter, but keep only results with positive counts.
 |
 |      >>> c = Counter('abbbc')
 |      >>> c -= Counter('bccd')
 |      >>> c
 |      Counter({'b': 2, 'a': 1})
 |
 |  __le__(self, other)
 |      True if all counts in self are a subset of those in other.
 |
 |  __lt__(self, other)
 |      True if all counts in self are a proper subset of those in other.
 |
 |  __missing__(self, key)
 |      The count of elements not in the Counter is zero.
 |
 |  __ne__(self, other)
 |      True if any counts disagree. Missing counts are treated as zero.
 |
 |  __neg__(self)
 |      Subtracts from an empty counter.  Strips positive and zero counts,
 |      and flips the sign on negative counts.
 |
 |  __or__(self, other)
 |      Union is the maximum of value in either of the input counters.
 |
 |      >>> Counter('abbb') | Counter('bcc')
 |      Counter({'b': 3, 'c': 2, 'a': 1})
 |
 |  __pos__(self)
 |      Adds an empty counter, effectively stripping negative and zero counts
 |
 |  __reduce__(self)
 |      Helper for pickle.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __sub__(self, other)
 |      Subtract count, but keep only results with positive counts.
 |
 |      >>> Counter('abbbc') - Counter('bccd')
 |      Counter({'b': 2, 'a': 1})
 |
 |  copy(self)
 |      Return a shallow copy.
 |
 |  elements(self)
 |      Iterator over elements repeating each as many times as its count.
 |
 |      >>> c = Counter('ABCABC')
 |      >>> sorted(c.elements())
 |      ['A', 'A', 'B', 'B', 'C', 'C']
 |
 |      # Knuth's example for prime factors of 1836:  2**2 * 3**3 * 17**1
 |      >>> prime_factors = Counter({2: 2, 3: 3, 17: 1})
 |      >>> product = 1
 |      >>> for factor in prime_factors.elements():     # loop over factors
 |      ...     product *= factor                       # and multiply them
 |      >>> product
 |      1836
 |
 |      Note, if an element's count has been set to zero or is a negative
 |      number, elements() will ignore it.
 |
 |  most_common(self, n=None)
 |      List the n most common elements and their counts from the most
 |      common to the least.  If n is None, then list all element counts.
 |
 |      >>> Counter('abracadabra').most_common(3)
 |      [('a', 5), ('b', 2), ('r', 2)]
 |
 |  subtract(self, iterable=None, /, **kwds)
 |      Like dict.update() but subtracts counts instead of replacing them.
 |      Counts can be reduced below zero.  Both the inputs and outputs are
 |      allowed to contain zero and negative counts.
 |
 |      Source can be an iterable, a dictionary, or another Counter instance.
 |
 |      >>> c = Counter('which')
 |      >>> c.subtract('witch')             # subtract elements from another iterable
 |      >>> c.subtract(Counter('watch'))    # subtract elements from another counter
 |      >>> c['h']                          # 2 in which, minus 1 in witch, minus 1 in watch
 |      0
 |      >>> c['w']                          # 1 in which, minus 1 in witch, minus 1 in watch
 |      -1
 |
 |  total(self)
 |      Sum of the counts
 |
 |  update(self, iterable=None, /, **kwds)
 |      Like dict.update() but add counts instead of replacing them.
 |
 |      Source can be an iterable, a dictionary, or another Counter instance.
 |
 |      >>> c = Counter('which')
 |      >>> c.update('witch')           # add elements from another iterable
 |      >>> d = Counter('watch')
 |      >>> c.update(d)                 # add elements from another counter
 |      >>> c['h']                      # four 'h' in which, witch, and watch
 |      4
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, v=None) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.dict:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.dict:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.dict:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
table1 = [emp_id, name, salary, dept]
table2 = [emp_id, bonus]

dept = 'hr', admin
salary > 50000

select t1.emp_id, t1.name, t1.salary, t1.dept, t2.bonus 
from table1 as t1
inner join table2 as t2 on t1.emp_id = t2.emp_id
where dept in ('hr', 'admin') and salary > 50000 and t1.name like "A%"

In [33]:
lst = [1,3,4,5,8,5,6,8]

[1,3,4,5,6,8]
[8,3,4,5,6,1]

[1,3,4,5,8,6]
[1,3,4,5,8,6]

In [36]:
set([1,3,4,5,8,5,6,8, 5000, 1000])

{1, 3, 4, 5, 6, 8, 1000, 5000}

In [34]:
x = list(set(lst))
print(x)
x[0], x[-1] = x[-1], x[0]
print(x)

[1, 3, 4, 5, 6, 8]
[8, 3, 4, 5, 6, 1]

In [28]:
x = y = 500
print(id(x))
print(id(y))

2547870355696
2547870355696

In [29]:
x = 2000
y = 2000
print(id(x))
print(id(y))

2547870356144
2547870355120

In [30]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [31]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
custoomer table [ customer id, destails] 100 M
order details table [transactional order details]
product table [] 10k

return after 30 day

report1 - calcelled

report2 - valid and invalid

In [32]:
subjects = ['maths','biology','english']
# Write a function to create a new list with only subjects containing the letter ‘i’

def solution(s, substr):
    out = []
    for e in s: 
        if substr in e:
            out.append(e) 
    return out

print(solution(subjects, 'i'))
print(solution(subjects, 'a'))

['maths', 'biology', 'english']
['maths']

In [33]:
import pandas as pd

data = [['Alex',10],['Bob',12],['Clarke',13], ['Dave',15]]
df1 = pd.DataFrame(data, columns=['Name1','Age'], dtype=float)
data = [['Alex',180],['Bob',165],['Clarke',172],['Steve',172]]
df2 = pd.DataFrame(data, columns=['Name2','Height'], dtype=float)

C:\Users\arunk\AppData\Local\Temp\ipykernel_6064\353441896.py:4: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df1 = pd.DataFrame(data, columns=['Name1','Age'], dtype=float)
C:\Users\arunk\AppData\Local\Temp\ipykernel_6064\353441896.py:6: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df2 = pd.DataFrame(data, columns=['Name2','Height'], dtype=float)

In [35]:
df1[df1["Name1"] == "Bob"]

  Name1   Age
1   Bob  12.0

In [17]:
# df1.rename(columns={"Name1": "Name"}, inplace=True)
df2.rename(columns={"Name2": "Name"}, inplace=True)
df1.merge(df2, on="Name", how="outer")

     Name   Age  Height
0    Alex  10.0   180.0
1     Bob  12.0   165.0
2  Clarke  13.0   172.0
3    Dave  15.0     NaN
4   Steve   NaN   172.0

In [18]:
data = [['Alex',10,'Name: Alex, Age: 10'],['Bob',12, 'Name: Bob, Age: 12'],['Clarke',13, 'Name: Clarke, Age: 13'], ['Dave',15, 'Name: Dave, Age: 15']]
df3 = pd.DataFrame(data,columns=['Name','Age', 'Name_Age'],dtype=float)

C:\Users\arunk\AppData\Local\Temp\ipykernel_1976\2996624080.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df3 = pd.DataFrame(data,columns=['Name','Age', 'Name_Age'],dtype=float)

In [22]:
df1.dtypes

Name     object
Age     float64
dtype: object

In [26]:
# df1["Name_Age"] = 
df1["Age"] = df1["Age"].apply(str)
df1["Name_Age"] = "Name: " + df1["Name"] + " Age: " + df1["Age"]

In [28]:
def formated_str(x, y):
    return f"Name: {x} Age: {y} "

In [27]:
df1

     Name   Age                Name_Age
0    Alex  10.0    Name: Alex Age: 10.0
1     Bob  12.0     Name: Bob Age: 12.0
2  Clarke  13.0  Name: Clarke Age: 13.0
3    Dave  15.0    Name: Dave Age: 15.0

In [1]:
{x: x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [2]:
s = """{{{}}}}"""

def solution(s, b1, b2):
    o = 0
    out = True
    for i in s:
        if o < 0:
            break
        if i == "{":
            o+=1
        if i == "}":
            o-=1
    if o !=0:
        out = False
    return out

print(solution("""{{{}}}}"""))
print(solution("""{{{}}}"""))
print(solution("""}"""))
print(solution("""}{"""))
print(solution("""{"""))

"""{[{}}]}"""

False
True
False
False
False

In [37]:
def solution(s):
    o = []
    out = True
    d = {
        "}": "{",
        "]": "[",
        ")": "(",
    }
    for i in s:
        if i in d.keys():
            try:
                x = o.pop()
                if x != d[i]:
                    return False
            except:
                return False
        else:
            o.append(i)
    if o:
        out = False
    return out
print(solution("""{{{}}}}"""))
print(solution("""{{{}}}"""))
print(solution("""}"""))
print(solution("""}{"""))
print(solution("""{"""))

print(solution("""{[{}}]}"""))
print(solution("""{[{}]}"""))
print(solution("""{[()]}"""))
print(solution("""{)"""))

KeyboardInterrupt:

In [ ]:
# def solution(gas, cost):
#     t = []
#     for g, c in zip(gas, cost):
#         t.append(g - c)
        # [1,2,3,4,5]
        # [3,4,5,1,2]
        # [-2, -2, -2, 3, 3]

# --There are three tables in our Database (DEPARTMENT,EMPLOYEE & SALARY).
# --DEPARTMENT(DeptCode,DeptName,Location).
# --EMPLOYEE(EmpCode,EmpFName,EmpLName,Email,PhoneNo,Job,Manager,HireDate,DeptCode).
# --SALARY(EmpCode,Basic,Additions,Deductions).
# --Please Use these tables to write your query.

In [8]:
s1 = "abc" # "abc" 3
s2 = "def" # "de" 2

# o = "adbecf"
# "adbef"
# "adbec"

def solution(s1, s2):
    l1 = len(s1)
    l2 = len(s2)
    o = ""
    if l1 == 0:
        return s2
    if l2 == 0:
        return s1
    for i in range(max(l1, l2)):
        o += s1[i] + s2[i]
        if i >= l1-1:
            o += s2[i+1:]
            break
        if i >= l2-1:
            o += s1[i+1:]
            break
    return o

print(solution("abc", "def"))
print(solution("abc", "de"))
print(solution("ab", "def"))
print(solution("", "def"))
print(solution("abc", ""))

adbecf
adbec
adbef
def
abc

In [40]:
list(zip(list("abc"), list("de")))

[('a', 'd'), ('b', 'e')]

In [41]:
lst1=[1,2,3,4,5]
lst2=['ab_$1','ab-1','d@3','g(#4','h5']
lst3=['English Math science','Math Science geo','English','Bio Math English','Geo Math English Science']

In [10]:
import pandas as pd

In [42]:
df = pd.DataFrame({"number":lst1, "code":lst2, "subjects":lst3})

In [43]:
df

   number   code                  subjects
0       1  ab_$1      English Math science
1       2   ab-1          Math Science geo
2       3    d@3                   English
3       4   g(#4          Bio Math English
4       5     h5  Geo Math English Science

In [44]:
df["code"] = df["code"].replace("[^a-zA-Z0-9]", "", regex=True)

In [ ]:
df["subjects"] = df["subjects"].str.lower()

In [47]:
df[["code", "subjects"]]

  code                  subjects
0  ab1      english math science
1  ab1          math science geo
2   d3                   english
3   g4          bio math english
4   h5  geo math english science

In [48]:
df["english"] = df["subjects"].str.contains("english")

In [49]:
df

   number code                  subjects  english
0       1  ab1      english math science     True
1       2  ab1          math science geo    False
2       3   d3                   english     True
3       4   g4          bio math english     True
4       5   h5  geo math english science     True

In [38]:
df["subjects"] = df["subjects"].apply(str.lower)
df["subjects"] = df["subjects"].apply(lambda x: x + " ")
df1 = df[["code", "subjects"]].groupby("code").sum()
# df["subjects"] = df["subjects"].apply(lambda x: x.split(" "))

In [39]:
df1["subjects"].apply()

code
ab1    english math science   math science geo
d3                                     english
g4                            bio math english
h5                    geo math english science
Name: subjects, dtype: object

In [35]:
df[["code", "subjects"]].groupby(["code"]).sum()

                                  subjects
code
ab1   English Math scienceMath Science geo
d3                                 English
g4                        Bio Math English
h5                Geo Math English Science

In [33]:
cities = {'San Francisco': 'US', 'London':'UK',
        'Manchester':'UK', 'Paris':'France',
        'Los Angeles':'US', 'Seoul':'Korea'}

# => {'US':['San Francisco', 'Los Angeles'], 'UK':[,], ...}

In [34]:
o = {}
for k, v in cities.items():
    if v not in o:
        o[v] = []
    o[v].append(k) 

print(o)

{'US': ['San Francisco', 'Los Angeles'], 'UK': ['London', 'Manchester'], 'France': ['Paris'], 'Korea': ['Seoul']}

In [8]:
def some_func(default_arg=0 ):
    default_arg +=1
    return default_arg
print(some_func())
print(some_func())

1
1

In [17]:
df =[1,2,3]
print(id(df), df)  
def abc(d):
    # d = d.copy()
    d.append(1)
    print(id(d), d)
abc(df)
print(id(df), df)

2327561559488 [1, 2, 3]
2327561559488 [1, 2, 3, 1]
2327561559488 [1, 2, 3, 1]

In [13]:
id(df)

2327561738624

In [3]:
l = [12,345,2,6,7897]

In [ ]:
o = []
for e in l:
    if len(str(e)) % 2 == 0:
        o.append(e)

In [31]:
# Persistent 
# [16:35] Vidyadhar Govande
# [12,345,2,6,7897]
# # ​[16:41] Vidyadhar Govande
# e = 7
# try:
#     raise Exception()
# except Exception as e:
#     pass
# print(e)
# ​[16:44] Vidyadhar Govande
# a = 1
# def some_func():
#     return a
# def another_func():
#     a += 1
#     return a
# print(some_func())
# print(another_func())
# ​[16:46] Vidyadhar Govande
# a = [1, 2, 3, 4]
# b = a
# a = a + [5, 6, 7, 8]
# print(a)
# print(b)
# ​[16:46] Vidyadhar Govande

# def some_func(default_arg=[]):
#     default_arg.append("some_string")
#     return default_arg
# print(some_func())
# print(some_func())

# ​[16:46] Vidyadhar Govande
# some_dict = {}
# some_dict[5.5] = "Ruby"
# some_dict[5.0] = "JavaScript"
# some_dict[5] = "Python"
# print(some_dict[5.5])
# print(some_dict[5.0])
# print(some_dict[5])
# ​[16:52] Vidyadhar Govande
# list1 = [10, -21, -4, 45, 66, 93, -11]
# print(list(map(lambda x: x<0, list1)))
# # ​[16:53] Vidyadhar Govande
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

12

In [50]:
def fibonachi(i):
    x=0
    y=1
    for _ in range(i):
        x, y = y, x+y
        yield y

In [39]:
def fibonachi1(i, x=0, y=1):
    if i <= 0:
        return y
    else:
        x, y = fibonachi1(i - 1, y, x + y)
    # return x, y

In [40]:
list(fibonachi(10))

NameError: name 'fibonachi' is not defined

In [41]:
fibonachi1(10)

TypeError: cannot unpack non-iterable int object

In [79]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
emp, dept
select e.emp_id, d.dept_name from emp as e
left join dept as d on d.dep_id = e.dep_id

In [13]:
list1 = [10, -21, -4, 45, 66, 93, -11]
print(list(map(lambda x: x<0, list1)))

[False, True, True, False, False, False, True]